# 1. Import

In [1]:
import pandas as pd

# 2. Load Dataset

In [2]:
listings = pd.read_csv("data/raw/listings.csv")
neighbourhoods = pd.read_csv("data/raw/neighbourhoods.csv")
reviews = pd.read_csv("data/raw/reviews.csv")

In [3]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.53471,13.41810,Entire home/apt,105.0,63,148,2023-05-25,0.80,1,333,0,First name and Last name: Nicolas Krotz <br/> ...
1,9991,Geourgeous flat - outstanding views,33852,Philipp,Pankow,Prenzlauer Berg Südwest,52.53269,13.41805,Entire home/apt,180.0,6,7,2020-01-04,0.06,1,22,0,03/Z/RA/003410-18
2,14325,Studio Apartment in Prenzlauer Berg,55531,Chris + Oliver,Pankow,Prenzlauer Berg Nordwest,52.54813,13.40366,Entire home/apt,70.0,150,26,2023-11-30,0.15,4,270,1,NaN
3,16644,In the Heart of Berlin - Kreuzberg,64696,Rene,Friedrichshain-Kreuzberg,nördliche Luisenstadt,52.50312,13.43508,Entire home/apt,90.0,93,48,2017-12-14,0.28,2,17,0,NaN
4,17904,Beautiful Kreuzberg studio - 3 months minimum,68997,Matthias,Neukölln,Reuterstraße,52.49419,13.42166,Entire home/apt,28.0,92,299,2022-12-01,1.68,1,16,0,NaN

In [4]:
neighbourhoods.head()

    neighbourhood_group        neighbourhood
0  Charlottenburg-Wilm.            Barstraße
1  Charlottenburg-Wilm.  Charlottenburg Nord
2  Charlottenburg-Wilm.  Düsseldorfer Straße
3  Charlottenburg-Wilm.      Forst Grunewald
4  Charlottenburg-Wilm.            Grunewald

In [5]:
reviews.head()

   listing_id        date
0        3176  2009-06-20
1        3176  2010-11-07
2        3176  2010-11-24
3        3176  2010-12-21
4        3176  2011-01-04

# 3. Inspect Dataset

In [6]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14017 entries, 0 to 14016
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14017 non-null  int64
 1   name                            14017 non-null  object
 2   host_id                         14017 non-null  int64
 3   host_name                       14008 non-null  object
 4   neighbourhood_group             14017 non-null  object
 5   neighbourhood                   14017 non-null  object
 6   latitude                        14017 non-null  float64
 7   longitude                       14017 non-null  float64
 8   room_type                       14017 non-null  object
 9   price                           9008 non-null   float64
 10  minimum_nights                  14017 non-null  int64
 11  number_of_reviews               14017 non-null  int64
 12  last_review                     10884 non-null  object
 13  reviews_per_month               10884 non-null  float64
 14  calculated_host_listings_count  14017 non-null  int64
 15  availability_365                14017 non-null  int64
 16  number_of_reviews_ltm           14017 non-null  int64
 17  license                         8812 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 1.9+ MB

In [7]:
listings.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            9
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             5009
minimum_nights                       0
number_of_reviews                    0
last_review                       3133
reviews_per_month                 3133
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           5205
dtype: int64

In [8]:
neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  138 non-null    object
 1   neighbourhood        138 non-null    object
dtypes: object(2)
memory usage: 2.3+ KB

In [9]:
neighbourhoods.isnull().sum()

neighbourhood_group    1
neighbourhood          1
dtype: int64

In [10]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559674 entries, 0 to 559673
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  559674 non-null  int64
 1   date        559674 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.5+ MB

In [11]:
reviews.isnull().sum()

listing_id    0
date          0
dtype: int64

# 4. Clean The Data

## 4.1 Remove Unnecessary Columns

In [12]:
listings = listings.drop(["number_of_reviews", "last_review", "reviews_per_month", "number_of_reviews_ltm"], axis="columns")

## 4.2 Assign The Proper Column's Data Type

### 4.2.1 listings

In [13]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14017 entries, 0 to 14016
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14017 non-null  int64
 1   name                            14017 non-null  object
 2   host_id                         14017 non-null  int64
 3   host_name                       14008 non-null  object
 4   neighbourhood_group             14017 non-null  object
 5   neighbourhood                   14017 non-null  object
 6   latitude                        14017 non-null  float64
 7   longitude                       14017 non-null  float64
 8   room_type                       14017 non-null  object
 9   price                           9008 non-null   float64
 10  minimum_nights                  14017 non-null  int64
 11  calculated_host_listings_count  14017 non-null  int64
 12  availability_365                14017 non-null  int64
 13  license                         8812 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 1.5+ MB

In [14]:
listings.nunique()

id                                14017
name                              13482
host_id                            9752
host_name                          3915
neighbourhood_group                  12
neighbourhood                       138
latitude                          10123
longitude                         11101
room_type                             4
price                               578
minimum_nights                      105
calculated_host_listings_count       36
availability_365                    366
license                            7371
dtype: int64

In [15]:
listings["neighbourhood_group"] = listings["neighbourhood_group"].astype("category")
listings["neighbourhood"] = listings["neighbourhood"].astype("category")
listings["room_type"] = listings["room_type"].astype("category")

In [16]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14017 entries, 0 to 14016
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14017 non-null  int64
 1   name                            14017 non-null  object
 2   host_id                         14017 non-null  int64
 3   host_name                       14008 non-null  object
 4   neighbourhood_group             14017 non-null  category
 5   neighbourhood                   14017 non-null  category
 6   latitude                        14017 non-null  float64
 7   longitude                       14017 non-null  float64
 8   room_type                       14017 non-null  category
 9   price                           9008 non-null   float64
 10  minimum_nights                  14017 non-null  int64
 11  calculated_host_listings_count  14017 non-null  int64
 12  availability_365                14017 non-null  int64
 13  license                         8812 non-null   object
dtypes: category(3), float64(3), int64(5), object(3)
memory usage: 1.2+ MB

### 4.2.2 neighbourhoods

In [17]:
neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  138 non-null    object
 1   neighbourhood        138 non-null    object
dtypes: object(2)
memory usage: 2.3+ KB

In [18]:
neighbourhoods.nunique()

neighbourhood_group     12
neighbourhood          138
dtype: int64

In [19]:
neighbourhoods["neighbourhood_group"] = neighbourhoods["neighbourhood_group"].astype("category")
neighbourhoods["neighbourhood"] = neighbourhoods["neighbourhood"].astype("category")

In [20]:
neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  138 non-null    category
 1   neighbourhood        138 non-null    category
dtypes: category(2)
memory usage: 6.1 KB

### 4.2.3 reviews

In [21]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559674 entries, 0 to 559673
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  559674 non-null  int64
 1   date        559674 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.5+ MB

In [22]:
reviews["date"] = pd.to_datetime(reviews["date"], format="%Y-%m-%d")

In [23]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559674 entries, 0 to 559673
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  559674 non-null  int64
 1   date        559674 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.5 MB

## 4.3 Missing Values

### 4.3.1 listings

In [24]:
listings.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            9
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             5009
minimum_nights                       0
calculated_host_listings_count       0
availability_365                     0
license                           5205
dtype: int64

In [25]:
listings = listings.dropna(subset=["price"])
listings["license"] = listings["license"].fillna("Unknown")

listings.reset_index(drop=True)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count,availability_365,license
0,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534710,13.418100,Entire home/apt,105.0,63,1,333,First name and Last name: Nicolas Krotz <br/> ...
1,9991,Geourgeous flat - outstanding views,33852,Philipp,Pankow,Prenzlauer Berg Südwest,52.532690,13.418050,Entire home/apt,180.0,6,1,22,03/Z/RA/003410-18
2,14325,Studio Apartment in Prenzlauer Berg,55531,Chris + Oliver,Pankow,Prenzlauer Berg Nordwest,52.548130,13.403660,Entire home/apt,70.0,150,4,270,Unknown
3,16644,In the Heart of Berlin - Kreuzberg,64696,Rene,Friedrichshain-Kreuzberg,nördliche Luisenstadt,52.503120,13.435080,Entire home/apt,90.0,93,2,17,Unknown
4,17904,Beautiful Kreuzberg studio - 3 months minimum,68997,Matthias,Neukölln,Reuterstraße,52.494190,13.421660,Entire home/apt,28.0,92,1,16,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9003,1247185743048986481,Wohnen am Wannsee,268020889,Isabelle,Steglitz - Zehlendorf,Zehlendorf Südwest,52.422346,13.159617,Entire home/apt,85.0,92,1,365,Unknown
9004,1247573966059425584,Gemütliches Apartment mit Online Check-In,533768179,Lukas,Neukölln,Rixdorf,52.479015,13.445917,Entire home/apt,102.0,1,2,322,Legal entity name and Legal form: indepecon Gm...
9005,1247603814767312744,Cosy room in the city,592845983,Gülcin,Tempelhof - Schöneberg,Tempelhof,52.469562,13.383388,Private room,45.0,25,2,354,07/Z/RA/013642-20
9006,1247611373476346345,Bright & spacious flat in mitte,1382469,Julia,Mitte,Alexanderplatz,52.523168,13.381248,Entire home/apt,120.0,92,1,305,Unknown
9007,1247687868662918683,Souterrainwohnung nähe Olympiastadion und Messe,167250650,Peter,Charlottenburg-Wilm.,Heerstrasse,52.506281,13.233674,Entire home/apt,59.0,1,1,356,04/Z/AZ/015633-24

In [26]:
listings.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
calculated_host_listings_count    0
availability_365                  0
license                           0
dtype: int64

In [27]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9008 entries, 0 to 14016
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              9008 non-null   int64
 1   name                            9008 non-null   object
 2   host_id                         9008 non-null   int64
 3   host_name                       9008 non-null   object
 4   neighbourhood_group             9008 non-null   category
 5   neighbourhood                   9008 non-null   category
 6   latitude                        9008 non-null   float64
 7   longitude                       9008 non-null   float64
 8   room_type                       9008 non-null   category
 9   price                           9008 non-null   float64
 10  minimum_nights                  9008 non-null   int64
 11  calculated_host_listings_count  9008 non-null   int64
 12  availability_365                9008 non-null   int64
 13  license                         9008 non-null   object
dtypes: category(3), float64(3), int64(5), object(3)
memory usage: 885.4+ KB

### 4.3.2 neighbourhoods

In [28]:
neighbourhoods.tail()

    neighbourhood_group                              neighbourhood
134  Treptow - Köpenick                            Oberschöneweide
135  Treptow - Köpenick                                Plänterwald
136  Treptow - Köpenick                     Rahnsdorf/Hessenwinkel
137  Treptow - Köpenick  Schmöckwitz/Karolinenhof/Rauchfangswerder
138                 NaN                                        NaN

In [29]:
neighbourhoods.isnull().sum()

neighbourhood_group    1
neighbourhood          1
dtype: int64

In [30]:
neighbourhoods = neighbourhoods.dropna(how="all")

In [31]:
neighbourhoods.tail()

    neighbourhood_group                              neighbourhood
133  Treptow - Köpenick                          Niederschöneweide
134  Treptow - Köpenick                            Oberschöneweide
135  Treptow - Köpenick                                Plänterwald
136  Treptow - Köpenick                     Rahnsdorf/Hessenwinkel
137  Treptow - Köpenick  Schmöckwitz/Karolinenhof/Rauchfangswerder

## 4.4 Remove Outliers (with The Interquartile Range Method)

In [32]:
q1 = listings["price"].quantile(0.25)
q3 = listings["price"].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr

condition = (listings["price"] > lower_bound) & (listings["price"] < upper_bound)
listings_no_outliers = listings[condition]

listings = listings_no_outliers

# 5. Export Cleaned Dataset

In [34]:
listings.to_csv("data/cleaned/cleaned_listings.csv", index=False)
neighbourhoods.to_csv("data/cleaned/cleaned_neighbourhoods.csv", index=False)
reviews.to_csv("data/cleaned/cleaned_reviews.csv", index=False)